.navbar{
    background:#0d6efd;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.menu a:hover{
    color:#ffd700;
}